img.contact-us-me {
    width: 80%;
    object-fit: contain;
    max-height: 100%;
}

.contact-us-container {
    margin: auto;
    height: calc(100vh - 330px);
    display: flex;
    justify-items: center;
    align-items: center;
    width: 85%;
    flex-direction: row-reverse;
}

.contact-us-container h3 {
    margin: 10px 0px;
}

.contact-us-container>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.contact-us-container>div:nth-child(2) {
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 50%;
}

ul.social-media-container {
    padding: 0px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 12px;
    justify-items: start;
}

ul.social-media-container>li>a {
    display: flex;
    align-items: center;
    gap: 5px;
}

ul.social-media-container>li>a>i {
    font-size: 2em;
    display: flex;
    width: 50px;
    justify-content: center;
}

.email-copy {
    display: flex;
    gap: 5px;
    align-items: center;
}

.email-copy>button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.email-copy>p {
    margin: 0px;
}

.fa-twitter, .fa-twitter-square { color: #00aced; }
.fa-google, .fa-google-plus-square { color: #dd4b39; }
.fa-youtube, .fa-youtube-play, .fa-youtube-square { color: #bb0000; }
.fa-linkedin, .fa-linkedin-square { color: #007bb6;}
.fa-instagram { color: #fd2444; }
.fa-orcid { color: #a6ce39; }

@media (max-width: 768px) {

    ul.social-media-container {
        grid-template-columns: auto;
    }
    
    .contact-us-container {
        font-size: 1.4em;
    }

    .contact-us-container>div:nth-child(2){
        display: none;
    }

}