.popup-thumbnail {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    z-index:9999;
    height: 100%;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background: rgba(0, 0,0, 0.48);
    display: none;
    animation: fadeOut 0.7s;
}

.popup-thumbnail.active{
    display: flex;
    animation: fadeIn 0.7s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: hidden
    }

    to {
        opacity: 1;
        visibility: visible
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        visibility: visible
    }

    to {
        opacity: 0;
        visibility: hidden
    }
}
.popup-thumbnail>div{
    position: relative;
    width: 60vw;
    border: 1px solid black;
    background: white;
}
.popup-thumbnail img{
    object-fit:contain;
    width: 100%;
    padding:20px;
    max-height: 70vh;
}

.popup-image-container{
    background: white;
}

body.popup{
    overflow: hidden;
}

button.popup-close {
    position: absolute;
    background: url(../assets/close.png);
    border:none;
    outline: none;
    margin: 0;
    right: -15px;
    top: -15px;
    padding: 0;
    width: 35px;
    cursor: pointer;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-header {
    display: grid;
    font-size: 1.3em;
    grid-template-columns: 98% 2%;
    padding: 20px;
}

.popup-header>span{
    font-weight: 600;
}