.media-container {
    margin: 0 auto;
    width: 80vw;
    padding: 0 10px;
    padding-top: 30px;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posts {
    width: 100%;
}

.title {
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px 0;
}

.description {
    font-size: 1em;
}

.media-images {
    padding: 20px 0;
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.media-image-container {
    width: 47%;
}

.media-image {
    width: 47%;
}

.media-image-container .media-image {
    width: 100%;
}


.media-image>img {
    width: 100%;
}


@media (max-width: 768px) {
    .media-image {
        width: 95%;
    }

}

.beyond-tech-container{
    max-width: fit-content;
    margin:0px 50px;
}

p.beyond-tech-text {
    text-align: justify;
}

p.beyond-tech-text:first-letter {
    font-size:1.3em;
    padding-left:30px;
}


.beyond-tech-video-container {
    display: grid;
    grid-template-columns: 45vw 45vw;
    justify-content: space-around;
    height: fit-content;
}

iframe.beyond-tech-video {
    width: 100%;
    height: 100%;
    aspect-ratio: 4 / 3;
}

.thumbnail.cerificate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    height: 400px;
}

.thumbnail.cerificate>img {
    border: 1px solid black;
}

.beyond-tech-column-container {
    display: flex;
    justify-content: space-around;
}

.beyond-tech-column-container .thumbnail.cerificate {
    width: 90%;
    margin-top: 0px;
}

.beyond-tech-column-container .thumbnail.cerificate>img {
    border: none;
}

.beyond-tech-images {
    padding: 20px 0;
    justify-content: center;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    gap: 20px;
    flex-wrap: wrap;
}

.overlay-container {
    display: inline-block;
    position: relative;
    height: fit-content;
}


.container-div {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.container-div img {
    width: 30vw;
    height:  30vw;
    object-fit: cover;
    border-radius: 6px;
}

.container-div .overlay {
    position: absolute;
    width: 0%;
    height: 99%;
    top: 0;
    z-index: 1;
    border-radius: 6px;
    color: white;
    background: rgba(40, 40, 40, .6);
    transition: width 0.8s ease-in-out;
    display: flex;
    align-items: center;
}

.container-div:hover .overlay {
    width: inherit;
    overflow: hidden;
}


.container-div .overlay>.inner-overlay-div{
    visibility: hidden;
    margin: 40px;
}


.container-div .overlay>.inner-overlay-div div {
    color: white;
    border-color: white;
}


.container-div:hover .overlay>.inner-overlay-div {
    width:fit-content;
    visibility: visible;
}

.container-div:hover .overlay>.inner-overlay-div>div {
    min-width: 20vw;
}

.overlay .title {
    padding-bottom: 0px;
}

.overlay .location {
    padding-bottom: 10px;
    display: flex;
    gap: 4px;
    font-size: 0.7em;
}


.main-banner {
    gap: 3%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 100%;
}

main .banner-wrap {
    width: 100%;
    margin: 12px;
    position: relative;
}

main .banner-wrap::before {
    min-height: 430px;
}

main .wsite-section-content {
    border-radius: 10px;
    height: 430px;
    background-image: url(../assets/beyond-tech/workouts/VID-20240123-WA0008_exported_4700~2.jpg);
    background-position: 0px 0px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
}

main .wsite-section-content.photography {
    /* background-image: url(../assets/beyond-tech/photography/Mukil\ photographing\ \(2\).png); */ 
    /* # photography */
    background-image: url(../assets/beyond-tech/photography/Mukil\ photographing\ 3.JPG);
    /* background-image: url(../assets/front_page/background-image-3.jpg); */
}
main .wsite-section-content.beat-boxing {
    /* background-image: url(../assets/beyond-tech/beat-boxing/Screenshot\ from\ 2023-03-21\ 23-50-52.png); */
    background-image: url(../assets/beyond-tech/beat-boxing/20191226_193650\(sq\).png);
}

main h2.wsite-content-title {
    font-size: 2em;
}

.wsite-section-content>p {
    font-size: 1.2em;
    font-weight: 900;
    font-style: italic;
    position: relative;
}

.media-image-description{
    text-align: center;
}

@media (max-width: 768px) {

    .main-banner {
        grid-template-columns: 26vw 26vw 26vw;
        justify-content: space-around;
    }

    main .banner-wrap {
        margin: 0px;
    }

    main .banner-wrap::before {
        min-height: 100px;
        border-radius: 10px;
    }

    main h2.wsite-content-title {
        font-size: 4px;
    }

    .wsite-section-content>p {
        display: none;
    }

    main .wsite-section-content {
        height: 100px;
    }

    .beyond-tech-images {
        grid-template-columns: 85vw;
    }
    .container-div .overlay>.inner-overlay-div{
        visibility: hidden;
        margin: 20px;
    }

    .beyond-tech-container{
        max-width: fit-content;
        margin: auto;
    }

    .container-div img {
        width: 85vw;
        height:  85vw;
        object-fit: cover;
        border-radius: 6px;
    }
    

    .container-div:hover .overlay>.inner-overlay-div>div.description {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .container-div:hover .overlay>.inner-overlay-div>div {
        min-width: 70vw;
    }

    .container-div .tag{
        padding: 1px 4px;
    }

    .beyond-tech-column-container {
        flex-direction: column;
    }
    
    
    .thumbnail.cerificate {
        height: fit-content;
    }
    
    .beyond-tech-video-container {
        display: flex;
        gap: 50px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

}

button.scroll-to-top.idle {
    position: absolute;
    /* background: white;
    bottom: 75px;
    color: #212529; */
}