.media-container {
    margin: 0 auto;
    width: 80vw;
    padding: 0 10px;
    padding-top: 30px;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#posts {
    width: 100%;
}

.title {
    font-size: 1.5em;
    font-weight: 600;
    padding: 10px 0;
}

.description {
    font-size: 1em;
}

.media-images {
    padding: 20px 0;
    justify-content: center;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.media-image {
    width: 47%;
}

.media-image>img {
    width: 100%;
}


@media (max-width: 768px) {
    .media-image {
        width: 95%;
    }

}

.beyond-tech-container{
    max-width: fit-content;
    margin:0px 50px;
}

.beyond-tech-images {
    padding: 20px 0;
    justify-content: center;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 20px;
    flex-wrap: wrap;
}

.overlay-container {
    display: inline-block;
    position: relative;
    height: fit-content;
}


.container-div {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    overflow: hidden;
}

.container-div img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.container-div .overlay {
    position: absolute;
    width: 0%;
    height: 99%;
    top: 0;
    z-index: 1;
    border-radius: 6px;
    color: white;
    background: rgba(40, 40, 40, .6);
    transition: width 0.8s ease-in-out;
    display: flex;
    align-items: center;
}

.container-div:hover .overlay {
    width: inherit;
    overflow: hidden;
}


.container-div .overlay>.inner-overlay-div{
    visibility: hidden;
    margin: 40px;
}


.container-div .overlay>.inner-overlay-div div {
    color: white;
    border-color: white;
}


.container-div:hover .overlay>.inner-overlay-div {
    width:fit-content;
    visibility: visible;
}

.container-div:hover .overlay>.inner-overlay-div>div {
    min-width: 20vw;
}




@media (max-width: 768px) {

    .beyond-tech-images {
        grid-template-columns: 85%;
    }
    .container-div .overlay>.inner-overlay-div{
        visibility: hidden;
        margin: 20px;
    }
    

    .container-div:hover .overlay>.inner-overlay-div>div.description {
        margin-bottom: 10px;
        font-size: 15px;
    }

    .container-div:hover .overlay>.inner-overlay-div>div {
        min-width: 70vw;
    }

    .container-div .tag{
        padding: 1px 4px;
    }

}

.main-banner {
    gap: 3%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 100%;
}

main .banner-wrap {
    width: 100%;
    margin: 12px;
    position: relative;
}

main .banner-wrap::before {
    min-height: 430px;
}

main .wsite-section-content {
    border-radius: 10px;
    height: 430px;
    background-image: url(../assets/beyond-tech/photography/20190823195510_IMG_3828.jpg);
}

main .wsite-section-content.photography {
    background-image: url(../assets/beyond-tech/photography/\(C\ &\ P\)\ -\ \(Hightlights&whites\)-1252.jpg);
}
main .wsite-section-content.beat-boxing {
    background-image: url(../assets/front_page/background-image-2.jpg);
}

main h2.wsite-content-title {
    font-size: 2em;
}