@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    box-sizing: border-box;
}

.inline-a{
    display: inline;
    color:rgb(72 136 203);
    text-decoration: underline;
}

.site-header.project{
    position: fixed;
    transition: all 250ms ease;
}

.project-container {
    margin: 0 auto;
    max-width: 994px;
    padding: 0 10px;
    /* padding-top: 30px; */
    width: 100%;
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-header.project>nav#mainNav{
    transition: all 250ms ease;
}

.site-header.project.transparent>nav#mainNav{
    background-color: transparent;
    padding: 20px 30px 20px 20px;
}

.wsite-section-content{
    height: 270px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background-image: url(../assets/misc/headerBackground.jpg) ;
    background-repeat: no-repeat ;
    background-position: 50.00% 29.69% ;
    background-size: 100% ;
    background-color: transparent ;
    background-size: cover;
}

@media (min-width: 320px) and (max-width:720px) {
    .site-header.project.transparent>#mainNav.visible .collapse.navbar-collapse {
        top: 65px !important;
        padding: 5px 18px;
        transition: all 250ms ease;
    }
    .site-header.project.transparent>nav#mainNav{
        background-color: #212529;
        padding: 20px 30px 20px 20px;
    }
}



.banner-wrap::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 270px;
    height: inherit;
    background: rgba(0,0,0,0.2);
    content: ' ';
}

.wsite-content-title {
    margin: 0;
    font-size: 3em;
    letter-spacing: 5px;
    color: white;
    text-align: center;
    position: relative;
}

.tablinks{
    cursor: pointer;
}

.hide{
    display: none !important;
}

.tab {
    padding: 20px;
    overflow: hidden;
    position: sticky;
    display: flex;
    width: 100%;
    background: white;
    justify-content: center;
    top: 50px;
    z-index: 10;
}

/* Style the buttons inside the tab */
.tab button {
    display: inline-block;
    color: rgba(0, 0, 0, 0.67);
    padding: 0.3em 0.5em;
    margin: 0.1em 0px;
    font-size: 100%;
    /* border-radius: 3px; */
    text-transform: uppercase;
    font-weight: 600;
    background-color: #0F2E3DE0;
    color: white;
    border: 3px solid;
    border-left: 0px;
    border-right: 0px;
    border-color: #0F2E3D;
}

.tab button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: 0px;
    border-left: 3px solid #0F2E3D;
}

.tab button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-left: 0px;
    border-right: 3px solid #0F2E3D;
}

/* Change background color of buttons on hover */
/* .tab button:hover {
    border-color: #0F2E3D;
} */

/* Create an active/current tablink class */
.tab button.active {
    background-color: #0F2E3D;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


.project-container .title {
    font-size: 1.65em;
    font-weight: bold;
}

.project-container .post {
    overflow: hidden;
    padding-bottom: 2em;
    border-bottom: 1px solid #eee;
    padding: 24px 0;
    display: block;
}

.project-container .post:last-child {
    padding-bottom: 72px;
    border-bottom: none
}

.index-a {
    display: flex;
    flex-direction: row-reverse;
}

.index-a-div {
    width: 50%;
    padding: 0px 20px;
}

.metadata {
    margin-right: 8px;
    color: rgba(0, 0, 0, 0.8);
    line-height: 1.4em;
    font-size: 12px;
}

.metadata .date {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.a-tag {
    padding: 2px 5px;
    font-size: 1.2em;
    width: fit-content;
    border: 1px solid gray;
    border-radius: 3px;
}

.a-tag>a {
    display: flex;
    gap: 5px;
    align-items: center;
}

.a-tags {
    display: flex;
    gap: 4px;
    flex-direction: row;
}

.tag.category {
    background-color: #0F2E3DE0;
    color: white;
    border-color: #0F2E3D;
}

.tags .tag {
    display: inline-block;
    color: rgba(0, 0, 0, 0.67);
    padding: 0.3em 0.5em;
    margin: 0.1em;
    font-size: 80%;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 500
}

.tag.category {
    background-color: #0F2E3DE0;
    color: white;
    border-color: #0F2E3D
}

.tags .tag:not(.category)::before {
    content:"#";
    position:absolute;
    left:-3px;
    font-weight: 700;
    font-size: 120%;
}

.tags .tag:not(.category){
    border:none;
    position:relative;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 5px;
}

/* .narrow-description {
    width: 35%;
} */

.narrow-description h2 {
    font-size: 26px;
    margin: 0 0 0.2em 0;
    padding-bottom: 0;
    border-bottom: 0;
}

.narrow-description p {
    margin: 0 0 12px 0;
    line-height: 1.5em;
    font-size: 16px;
}

.thumbnail {
    /* float: right; */
    width: 50%;
    height: 300px;
    text-align: center;
    font-weight: 700;
}

.thumbnail>span{
    padding: 10px 0;
    display: block;
}

.thumbnail img {
    display: block;
    margin: 0 auto;
    max-height: 90%;
    max-width: 100%;
}

@media (max-width: 768px) {

    .index-a {
        flex-direction: column;
    }

    .index-a-div {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .tag.category{
        margin: 5px 0px;
    }

    .thumbnail,
    .metadata,
    .narrow-description {
        width: 100%;
    }

    .thumbnail {
        width: auto;
        height: auto;
        padding:0px 20px;
    }
}