@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&family=Sofia+Sans:wght@300&display=swap');


body {
    margin: 0px;
    font-family: 'PT Sans Caption', sans-serif;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


.homepage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-page-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: -1;
    transition: opacity 1s ease-in;
}

.home-page-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    /* font-family: futura-pt, sans-serif; */
    font-family: 'PT Sans Caption', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.homepage-nav-ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.homepage-nav-li {
    font-size: 1em;
    font-weight: 800;
    margin: 1em 0px;
}

.home-page-li-anchor {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.home-page-li-anchor:hover {
    color: rgba(255, 255, 255, .6);
}


.portfolio-name {
    font-weight: 800;
    margin: 0px;
    font-size: 3em;
    height: 1.2em;
}

.portfolio-tag {
    font-size: 1em;
    text-align: end;
    font-weight: 300;
    margin: 0px;
    margin-bottom: 1em;
}

.portfolio-tag-div {
    width: 100%;
}

.hide-image {
    /* animation: visibleToNone 0.5s ease-out; */
    opacity: 0;
}

.visible-image {
    /* animation: fadeInFromNone 0.5s ease-out; */
    opacity: 1;
}



@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}


@keyframes visibleToNone {
    0% {
        display: block;
        opacity: 1;
    }

    1% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

.overlay-background {
    position: relative;
    z-index: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}

.about-me-div {
    width: 80vw;
    background-color: #fefefe;
    /* height: 500px; */
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 6%), 0 2px 5px 0 rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: row;
}

.about-me-left {
    width: 50%;
    padding: 20px 15px 20px 20px;
}

.about-me-right {
    width: 50%;
    padding: 20px 20px 20px 15px;
}

.about-me-profile-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 25% 100%;
}

.about-me-title-div {
    position: relative;
    margin-bottom: 40px;
}

.about-me-title {
    margin: 0px;
    font-size: 1.3em;
    text-transform: uppercase
}

.about-me-title:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #ffa59e;
    width: 85px;
    bottom: -12px;
}

.about-me-content {
    font-size: 1.1rem;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 500;
}

@media (min-width: 320px) and (max-width:500px) {
    body {
        font-size: 60%;
    }


    .about-me-div {
        display: flex;
        flex-direction: column;
    }

    .about-me-left {
        width: 100%;
    }

    .about-me-right {
        width: 100%;
    }
}